<p id="notice"><%= notice %></p>

<h1>Meus Contatos</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Foto</th>
      <th>Nome</th>
      <th>Email</th>
      <th>Telefone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= image_tag contact.avatar.url(:thumb), class: "img-circle" if contact.avatar.url.present? %></td>
        <td><%= contact.nome %></td>
        <td><%= contact.email %></td>
        <td><%= contact.telefone %></td>
        <td><%= link_to 'Detalhes', contact, class: "btn btn-default btn-sm" %></td>
        <td><%= link_to 'Editar', edit_contact_path(contact), class: "btn btn-default btn-sm" %></td>
        <td><%= link_to 'Apagar', contact, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Contato', new_contact_path, class: 'btn btn-md btn-default', role: 'button' %>
