<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Faça o Login</h3>
  </div>
  <div class="panel-body">
    <%= form_tag("login/auth", method: "post") do %>
        <div class="input-group">
          <span class="input-group-addon" id="sizing-addon2">@</span>
          <%= text_field_tag :email, nil, class: "form-control", placeholder: "Email", :'aria-describedby' => "sizing-addon2" %>
        </div>
        <div class="input-group">
          <span class="input-group-addon" id="sizing-addon2">X</span>
          <%= password_field_tag :senha, nil, class: "form-control", placeholder: "Senha", :'aria-describedby' => "sizing-addon2" %>
        </div>
        <div class="login" >
          <%= submit_tag "Efetuar Login", class: "btn btn-default" %>
        </div>
    <% end %>
  </div>
</div>


