<p id="notice"><%= notice %></p>

<h1>Sistema de Agenda de contatos</h1>

<h2> Faça o Login</h2> <br/>

<%= form_tag("login/auth", method: "post") do %>
  <%= label_tag(:email, "E-mail:") %>
  <%= text_field_tag(:email) %> <br/> <br/>
  <%= label_tag(:senha, "Senha:") %> 
  <%= password_field_tag(:senha) %> <br/> <br/>
  <%= submit_tag("Efetuar Login") %> 
  
<% end %>
<%= button_to "Cadastrar-se", new_user_path, method: 'get' %>


<%link_to "Efetue o seu cadastro, new_user_path" %>
