<!DOCTYPE html>
<html>
<head>
  <title>Agenda</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if session[:userid] %>
    <p>Olá, <%= image_tag @user.avatar.url(:icon) %> - <%=link_to @user.name, edit_user_path(@user)  %>
      - <%= link_to "Sign_out", logout_path %></p>
<% end %>

<%= yield %>

</body>
</html>
